.navbar-button {
    margin-right: 2rem;
    padding: 10px 20px;
}

@media (max-width: 1024px) {
    .navbar-button {
    margin-right: 0; /* Remove right margin */
    }
  }
  
.navbar-toggler {
    --tw-text-opacity: 1;
    background-color: rgb(69 161 136 / var(--tw-bg-opacity))!important;
}

.navbar-button:hover {
    background-color: white !important;
    color: black !important;
}

.section1-button1 {
    margin-left: 6rem;
    padding: 10px 20px;
}

.section1-button2 {
    margin-left: 1rem;
    padding: 10px 20px;
}

.section1-button1:hover {
    background-color: white !important;
    color: black !important;
}

.section1-button2:hover {
    background-color: white !important;
    color: black !important;
}

.section1-video {
    height: 40rem;
}

@media screen and (min-width: 319px) and (max-width: 425px) {
    .section1-video {
        height: 20rem;
    }
    .section1-button1 {
        margin-left: 0rem;
    }    
}


.section3-card {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0.5rem;
    padding-inline: 1rem;
    margin-left: 5rem;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.section3-card:hover {
    background-color: #18181b !important;
    color: white !important;
    border-radius: 10px;
    cursor: pointer!important;
}

.section3-img {
    margin-top: 4rem;
    margin-left: -3rem;
    max-width: 50rem;
    max-height: 40rem;
    align-content: center;
}

.section3-text {
    font-size: medium;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.5rem;
}

.section3-heading {
    font-size: larger;
}

.section5-heading {
    font-size: larger;
}

@media screen and (min-width: 319px) and (max-width: 769px) {
    .section3-img {
        max-height: 12rem;
        max-width: 20rem;
        margin-top: -3rem;
        /* margin-left: 1rem; */
    }

    .section3-card {
        margin-left: 0rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .section3-text {
        font-size: xx-small !important;
    }

    .section3-heading {
        font-size: medium;
    }

    .section5-heading {
        font-size: small;
    }
}

.section4-img {
    width: 80%;
    max-height: 20rem;
    margin-right: 5rem;
}

@media screen and (min-width: 319px) and (max-width: 769px) {
    .section4-img {
        margin-right: 0rem;
    }
}


.section5-card {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightgray;
    margin-left: 5rem;
}

.section5-card1 {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    margin-left: 5rem;
}

.section5-card:hover {
    background-color: 18181b !important;
    color: white !important;
    border-radius: 10px;
}

.section5-img {
    margin-top: 4rem;
    margin-left: 14rem;
    width: 22rem;
    height: 40rem;
}

@media screen and (min-width: 319px) and (max-width: 769px) {
    .section5-img {
        margin-bottom: 3rem;
        margin-top: 1rem;
        width: 10rem;
        height: 18rem;
    }
}

.section6-text{
    padding-left: 18rem;
    padding-right: 18rem;
}

@media screen and (min-width: 319px) and (max-width: 769px){
    .section6-text {
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: small!important;
    }
}

.section7-card {
    max-height: 30rem;
    max-width: 20rem!important;
    border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.section8-card {
    max-height: 20rem;
    max-width: 20rem!important;
    border-radius: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.section9-card {
    max-width: 75%!important;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity))!important;
}

.footer-card {
    max-width: 90%!important;
}

.footer-text {
    font-size: medium;
}

@media screen and (min-width: 319px) and (max-width: 769px){
    .footer-card {
        max-width: 100%!important;
    }
    .footer-text {
        font-size: smaller;
        margin-top: -1rem!important;
    }
}


.footer-bottom-line {
    width: 75%!important;
    --tw-border-opacity: 1;
    border-bottom: 2px ;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
}